* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav1 {
  border: black solid 1px;
  height: 2px;
  padding: 70px;
  background-image: linear-gradient(
    to left,
    rgb(234, 235, 156),
    rgb(110, 227, 231),
    rgb(111, 136, 249)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}
#nav1 a + a {
  margin-left: 50px;
}
